# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build Folders
build
bin
lib
srv_gen
msg_gen

# Temporary files
*~
*.wbproj
_*

# Eclipse files
.project
.cproject
.pydevproject
.settings
cmake_install.cmake

# Log files
*.log
